
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.section1{
    width: 100%;
    background-color: rgb(29, 0, 63);
    display: flex;
    min-height: 70vh;
    padding: 10px;
}
.start-kt1{
    flex-basis: 50%;
    width: 50%;
    margin-left: 5%; 

}
.start-kt1 img{
    mix-blend-mode: color-burn;
    padding: 20px;
}
.start1inner{
    color: white;
    padding: 10px;
    margin-top: 10px;
}
.start1inner h1{
    font-size: 40px;
    margin: 10px 10px 10px 0;
    padding: 10px;
}
.start1inner h6{
    font-size: 15px;
    margin: 10px 10px 10px 0;
    padding: 10px;
}
.start2inner{
    display: flex;
    margin: 0px 20px 20px 10px;
    margin-top: 0;
    padding: 10px;
}
.start2inner h4{
    border: 1px solid white;
    margin: 20px;
    padding: 20px;
    color: white;
    text-align: center;
}

.start3inner .hero-btn{
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 18px 140px;
    font-size: 18px;
    background: rgb(250, 192, 0);
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}
.start3inner .hero-btn:hover{
    border: 1px solid rgb(250, 192, 0);
    background: rgb(29, 0, 63);;
    color: rgb(250, 192, 0);
    transition: 1s;
}

.start-kt2{
    width: 50%;
    flex-basis: 50%;
    margin-right: 5%;
}
.start-kt2 img{
    height: 50%;
    width: 40%;
    position: absolute;
    margin: 20px auto 100px;
    top: 150px;
}
.small-container1{
    display: flex;
    width: 50%;
    margin: 500px auto 10px;
    padding: 10px;
    text-align: center;
    top: 400px;
}
.small-container1 h5{
    border: 1px solid white;
    background-color: rgb(48, 0, 94);
    margin: 10px;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.small-Line{
    text-align: center;
    position: relative;
    margin: 0 auto 120px;
}
.small-Line::after{
    content: '';
    background: #ffffff;
    width: 80%;
    height: 2px;
    border-radius: 3px;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
}


/* second section */

.section2{
    width: 100%;
    min-height: 70vh;
    padding: 20px;
}

.section2 h1{
    font-size: 60px;
    text-align: center;
    padding: 20px;
    margin: 10px;
}
.section2 h1 span{
    color: rgb(179, 107, 0);
}
.section2 p{
    font-size: 20px;
    text-align: center;
}
.start-kt4{
    display: flex;
    padding: 20px;
    margin: 20px;
}
.start4inner{
    flex-basis: 50%;
    margin: 0 20px 0;
}
.start4inner img{
    width: 100%;
}
.start5inner{
    flex-basis: 50%;
    background-color: #ecc2ae96;
    border-radius: 20px;
    margin: 0 20px 0;
    padding: 10px;    
}
.start5inner p{
    color: rgb(49, 48, 48);
    margin: 10px;
    padding: 10px;
}
.start5inner p span{
    color: black;
    font-weight: 800;
}

/* section 4 */

.section4{
    width: 100%;
    background-color: rgb(29, 0, 63);
    display: flex;
    min-height: 40vh;
    padding: 5%;
}

.start6inner{
    flex-basis: 70%;
    border: 2px solid white;
    padding: 50px;
}
.start6inner h1{
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 20px;
}
.start6inner p{
    color: #ffffff;
}
.start7inner{
    flex-basis: 30%;
    border: 2px solid white;
    padding: 50px;
}
.start7inner p{
    color: #ffffff;
}
.start7inner p span1{
    font-size: 35px;
    color: rgb(250, 192, 0);
    margin-top: 20px;
    font-weight: 700;
}
.start7inner p span2{
    font-size: 15px;
}
.start7inner .hero-btn{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 18px 40px;
    font-size: 18px;
    background: rgb(250, 192, 0);
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}
.start7inner .hero-btn:hover{
    border: 1px solid rgb(250, 192, 0);
    background: rgb(29, 0, 63);;
    color: rgb(250, 192, 0);
    transition: 1s;
}
.section5{
    width: 100%;
    background-color: rgb(16, 0, 34);
    min-height: 40vh;
    padding: 5%;
    text-align: center;
}
.section5 h1{
    font-size: 40px;
    color: #ffffff;
    margin: 20px;
}
.clock{
    width: 95%;
    align-items: center;
    text-align: center;
    margin: 20px;
    color: white;
}
.clock span{
    font-size: 50px;
    font-weight: 700;
    width: 60px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 10px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#hrs::after{
    content: 'Hours';
}
#min::after{
    content: 'Mins';
}
#sec::after{
    content: 'Secs';
}

.section5 .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 18px 90px;
    font-size: 18px;
    background: rgb(250, 192, 0);
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}
.section5 .hero-btn:hover{
    border: 1px solid rgb(250, 192, 0);
    background: rgb(29, 0, 63);;
    color: rgb(250, 192, 0);
    transition: 1s;
}

.but-sec-mani{
    height: auto;
        width: 100%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        float: left;
         
    }
    .heading-main{
        height: auto;
        width: 100%;
        margin: 47px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        float: left;
        color: #000;
        line-height: 47px;
        text-align:center;
        font-size: 41px;
        text-transform:capitalize;
    }
    .but-sev{
       height: auto;
        width: 100%;
        margin: 0;
        padding: 10px 10px 10px 10px;
        float: left;
        text-align: center;
        min-height: 170px;
    }
    .img-sec-main32{
        height: auto;
        margin: 0 auto;
        padding: 0;
        width: 80px;
        height: 70px;
    }
    .img-sec-headin{
        height: auto;
        width: 100%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        color: #000;
        font-size: 24px;
        text-align: center;
        float: left;
        font-weight: 500;
    }